/*  color: hsl(44, 55%, 70%); yellow */
/* color: hsl(349, 20%, 62%); purple */
/* color: hsl(0, 0%, 17%); black */
/* color: hsl(0, 0%, 92%); white */
html{
  font-size: 62.5%;
}
img {
    width: 100%;
  }
  body {
    background-color: hsl(0, 0%, 92%);
    font-family: 'open sans', sans-serif;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.6;
    color: hsl(0, 0%, 14%); 
  }
  
  /* headings */
  h1{
    font-family: 'poppins', sans-serif;
    font-size: 3rem;
    line-height: 1.2;
    font-weight: 700;
  }
.home-intro {
    display: block;
    font-size: 70%;
    font-weight: 400;
    margin-block-start: 2rem;
  }
h2{
  font-family: 'poppins', sans-serif;
  font-size: 5rem;
  line-height: 1.2;
  font-weight: 700;
}
h3{
  font-family: 'poppins', sans-serif;
  font-size: 2rem;
  line-height: 1.2;
  font-weight: 700;
}

/* links */
a {
  background-color: hsl(349, 20%, 62%);
  border: none;
  color:hsl(0, 0%, 17%);
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
a:visited{
  background-color: hsl(349, 20%, 62%);
  border: none;
  color:hsl(0, 0%, 17%);
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
a:hover {
  color: hsl(330, 50%, 34%);
}
a:focus{
  color: hsl(330, 50%, 34%);
}
a:active{
  color: hsl(330, 50%, 34%);
}


/* button */
.view-projects-button {
  background-color: transparent;
  color: #242424;
  border: 2px solid #6550a7;
}
.button{
    background-color: hsl(349, 20%, 62%);
    border: none;
    color:hsl(0, 0%, 17%);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }
.button:visited{
  background-color: hsl(349, 20%, 62%);
  border: none;
  color:hsl(0, 0%, 17%);
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
.button:hover{
  color: hsl(330, 50%, 34%);
}
.button:focus{
  color: hsl(330, 50%, 34%);
}
.button:active{
  color: hsl(330, 50%, 34%);
}